
/* minha implementação abaixo */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Figtree', sans-serif;
  /* font-family: 'Dela Gothic One',sans-serif; */
}

.topbar{
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: #1c2736;
}

.topbarLogo{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: auto;
}

.topbarLinks{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding: 10px;
  column-gap: 10px;
}


/* @import url("style.css");
@import url("grid.css");

main {
  position: relative; 
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.header_titulo {
  display: flex;
}
.titulo_estilizacao {
  color: white;
  font-family: "Russo One", sans-serif;
  font-size: 5rem;
  margin-left: 35rem;
  margin-bottom: 0;
}
.titulo2_estilizacao {
  margin-top: 0;
  color: white;
  font-family: "Russo One", sans-serif;
  font-size: 5rem;
  margin-left: 40rem;
}

.informacoes {
  max-width: 40rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  margin-left: 20rem;
  margin-top: 0.2rem;
}

.imagem_equipe {
  position: flex;
  width: 400px;
  height: 350px;
  border-radius: 8px;
}

.header_informacao {
  display: flex;
  gap: 5rem;
} */
