*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.footer {
  background: linear-gradient(to right, #242F3D, #0F3260);
  color: white;
  width: 100%;
  padding: 30px 0;
  font-family: "Figtree", sans-serif;
}

.footer-container {
  width: 100%;
  padding: 0 40px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.footer-links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-section h3 {
  font-size: 14px;
  margin: 0;
}

.footer-section a {
  color: #dcdcdc;
  text-decoration: none;
  font-size: 14px;
}

.footer-section a:hover {
  color: white;
}

.footer-copy {
  font-size: 14px;
  opacity: 0.8;
}

@media (max-width: 768px){
  .footer-section:first-child{
    display: none;
  }

  .footer-container{
    justify-content: space-between;
  }

}