.content-grid {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
