
.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-paragrafo{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.prosto-one-regular {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --dark-blue: #315f9f;
  --mid-blue: #739fc5;
  --light-blue: #aed0f3;
  --off-white: #cce9f0;
  --white: #f0f0f0;
  --black: #0f0f0f;
}

html,
body {
  margin: 0;
  height: 100%;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: var(--mid-blue);
  padding: 2%;
  color: var(--white);
  text-decoration: none;
}

main {
  background-color: var(--off-white);
}

footer {
  background-color: var(--dark-blue);
}

header a:hover {
  color: var(--dark-blue);
}

header a {
  color: var(--white);
  margin: 5%;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.title-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-flex {
  background-color: var(--dark-blue);
}

.detalhe_superior {
  position: absolute;
  top: 12%;
  left: 2rem;
  height: 10rem;
}

.detalhe_inferior {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 10rem;
}

.title-flex {
  gap: 10px;
}

.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.nav-flex a {
  font-size: 18pt;
  text-transform: uppercase;
  font-weight: lighter;
}

.logo {
  font-size: 52pt;
}

.logo {
  font-size: 3rem;
  line-height: 1;
  transform: rotate(-10deg);
}

.logo {
  font-family: "Prosto", sans-serif;
}

header h1:hover {
  color: white;
}

